.tab-block.accordion-header {
  cursor: pointer;
  border-radius: 15px;
  padding: 4px 5px;
  transition: .6s;
  animation: bounce 1s infinite ease-in-out;
  display: inline-table;
}

.tab-block.accordion-content {
  overflow: hidden;
  max-height: 0;
  height: auto;
  /* Set initial height to auto */
  transition: max-height .6s ease-in-out;
}

/* Styling when accordion header is active */
.tab-block.accordion-header.active {
  background-color: #ddd;
}

/* Styling when accordion content is open */
.tab-block.accordion-header.active+.tab-block.accordion-content {
  max-height: 1000px;
  /* Adjust to a larger value based on content */
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(1px);
  }

  50% {
    transform: translateY(-1px);
  }
}