:root {
    --color2: #fff;
    --color1: #1c1c1c;
    --color3: #c1bfbf;
    --red: #ff0000;
    --blue: #007bff;
    --green: #008000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Russo One", sans-serif;
    color: var(--color1);
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow-x: hidden;
    background: var(--color2);
}

.container {
    border-radius: 10px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
    max-width: 900px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
}

div#counter {
    position: fixed;
    right: 20px;
    bottom: 75px;
}

.question {
    margin-bottom: 2rem;
    position: relative;
}

.question p {
    font-size: 1rem;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
}

.question p {
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%;
    /* or set a specific width like 600px if needed */
}

.note-message {
    color: var(--green);
    font-size: 1.2rem;
    margin-top: 10px;
    display: block;
}

.error-message {
    color: var(--red);
    font-size: 0.9rem;
    position: absolute;
    top: -20px;
    right: 0;
    display: none;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.option-label {
    font-size: .9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 35px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s ease-in-out, border-color 0.3s, transform 0.3s ease-in-out;
    position: relative;
}

.option-label.selected {
    background: radial-gradient(circle at 15% 15%, #00c2ff, #87e2ff);
    border-color: var(--color1);
    transform: translateX(25px);
}

.option-label:hover {
    background-color: var(--color3);
}

.option-label.correct {
    background: #8ffda8c4;
    border-color: var(--color1);
}

.option-label.wrong {
    background: #ff98a2c7;
    border-color: var(--color1);
    transform: translateX(-10px);
}

.option-prefix {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"],
input[type="checkbox"] {
    opacity: 0;
}

input[type="radio"]+.option-prefix {
    border-radius: 50%;
    border: 2px solid #444;
    background-color: var(--color2);
    color: #444;
}

input[type="radio"]:checked+.option-prefix {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--color2);
}

input[type="checkbox"]+.option-prefix {
    border-radius: 5px;
    border: 2px solid #444;
    background-color: var(--color2);
    color: #444;
}

input[type="checkbox"]:checked+.option-prefix {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--color2);
}

button {
    display: block;
    padding: 15px 15px;
    font-size: 1.2rem;
    background-color: var(--blue);
    color: var(--color1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    position: fixed;
    right: 15px;
    bottom: 15px;
}

button:hover {
    background-color: var(--blue);
    transform: scale(1.05);
}

#result {
    display: none;
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    animation: bounceIn 1s ease-in-out;
}

#result.pass {
    background-color: #28a745;
    color: var(--color1);
}

#result.fail {
    background-color: #dc3545;
    color: var(--color1);
}

.question-unanswered p {
    color: var(--red);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}